html,
body {
  margin: 0;
  height: 100%;
}

#root,
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(94, 20, 20);
  color: #fff;
  padding: 15px;
}

nav h1 {
  margin: 0;
}

nav > img {
  width: 65px;
  height: 100%;
}

nav > h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
}

.blue {
  color: rgb(0, 110, 255);
}

main {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to the top */
}

main > img {
  min-height: 100%;
  max-width: 100%;
}

.timer-container {
  font-size: 30px;
}
